# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/

# Environment
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Helm local installation files
helm-v3.18.4-windows-amd64.zip
windows-amd64/

*.tgz